
<div class="container-geral">
   
    <div class="box-characters">
        
            <li *ngFor="let personagem of resultado.results">
                <div class="image">
                    <img [src]="personagem.image" />
            </div>
                <div class="text-info">
                       <h1>{{personagem.name}}</h1>
                        <p>{{personagem.id}}</p>
                    </div>

            </li>
         
        <div (click)="characterId()" class="btn-enviar">buscar </div>


    </div>


</div>

