.btn-enviar {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s;
    cursor: pointer;
    border: 1px solid #4CAF50;
}
.btn-enviar:hover{
    transition: all 0.2s;
    background-color: white;
    color: #4CAF50;
}

.container-geral{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  max-width: 800px;
  background: rgb(32, 35, 41);
}
.box-characters li{
  background: rgb(60, 62, 68);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid green;
 

}  
  
.text-info{
display: flex;
}
.image{
  display: flex;

}